<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
		  package="com.nimblemind.autoplus"
	>

	<uses-permission android:name="android.permission.INTERNET"/>
	<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

	<uses-feature android:name="android.hardware.camera" android:required="false"/>
	<uses-feature android:name="android.hardware.camera.autofocus" android:required="false"/>

	<application
		android:label="@string/app_name"
		android:name=".App"
		android:icon="@mipmap/ic_launcher"
		android:roundIcon="@mipmap/ic_launcher_round"
		android:theme="@style/AppTheme"
		android:supportsRtl="false"
		>
		<meta-data
			android:name="io.fabric.ApiKey"
			android:value="8819b8deae56d9f3ddb31f9455b57b8eed60703f"
			/>
		<activity android:name=".LoginActivity"
				  android:label="@string/app_name"
				  android:theme="@style/SplashTheme"
				  android:launchMode="singleTask"
			>
			<intent-filter>
				<action android:name="android.intent.action.MAIN"/>
				<category android:name="android.intent.category.LAUNCHER"/>
			</intent-filter>
			<intent-filter>
				<action android:name="android.intent.action.VIEW"/>
				<category android:name="android.intent.category.DEFAULT"/>
				<category android:name="android.intent.category.BROWSABLE"/>
				<data android:host="kh5ju.app.goo.gl" android:scheme="https"/>
				<data android:host="kh5ju.app.goo.gl" android:scheme="http"/>
				<data android:host="plus-auto.firebaseapp.com" android:scheme="https"/>
				<data android:host="plus-auto.firebaseapp.com" android:scheme="http"/>
			</intent-filter>
		</activity>

		<activity android:name=".SignupActivity"
				  android:label="@string/activitySignup"
				  android:theme="@style/SplashTheme"
				  android:parentActivityName=".LoginActivity"
			/>

		<activity android:name=".VerificationActivity"
				  android:label="@string/activityVerification"
				  android:theme="@style/SplashTheme"
				  android:parentActivityName=".LoginActivity"
			/>

		<activity android:name=".RecoveryActivity"
				  android:label="@string/activityRecovery"
				  android:theme="@style/SplashTheme"
				  android:parentActivityName=".LoginActivity"
			/>

		<activity android:name=".ClientMainActivity"
				  android:label="@string/app_name"
				  android:theme="@style/MainTheme"
			/>
		<activity android:name=".NewTicketActivity"
				  android:label="@string/activityNewTicket"
				  android:theme="@style/MainTheme"
				  android:parentActivityName=".ClientMainActivity"
			/>
		<activity android:name=".ClientDetailTicketActivity"
				  android:label="@string/activityDetailTicket"
				  android:theme="@style/MainTheme"
				  android:parentActivityName=".ClientMainActivity"
			/>
		<activity android:name=".GalleryActivity"
				  android:label="@string/activityGallery"
				  android:theme="@style/MainTheme"
			/>
		<activity android:name=".ListActivity"
				  android:theme="@style/MainTheme"
			/>

		<activity android:name=".SupportMainActivity"
				  android:label="@string/app_name"
				  android:theme="@style/MainTheme"
			/>
		<activity android:name=".SupportDetailTicketActivity"
				  android:label="@string/activityDetailTicket"
				  android:theme="@style/MainTheme"
				  android:parentActivityName=".SupportMainActivity"
			/>
		<activity android:name=".ChatActivity"
				  android:label="@string/activityChat"
			/>
		<activity android:name=".QueryFilterActivity"
				  android:label="@string/activityQueryFilter"
			/>

		<service
			android:name=".ImageUploadService"
			android:exported="false" />

		<provider
			android:name="android.support.v4.content.FileProvider"
			android:authorities="${applicationId}"
			android:exported="false"
			android:grantUriPermissions="true">
			<meta-data
				android:name="android.support.FILE_PROVIDER_PATHS"
				android:resource="@xml/file_provider_paths"/>
		</provider>
	</application>

</manifest>
