<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
		  package="com.nimblemind.autoplus"
	>

	<uses-permission android:name="android.permission.INTERNET"/>
	<uses-permission android:name="android.permission.CAMERA"/>

	<application
		android:label="@string/app_name"
		android:icon="@mipmap/ic_launcher"
		android:roundIcon="@mipmap/ic_launcher_round"
		android:theme="@style/AppTheme"
		>
		<meta-data
			android:name="io.fabric.ApiKey"
			android:value="8819b8deae56d9f3ddb31f9455b57b8eed60703f"
			/>
		<activity android:name=".AuthActivity"
				  android:label="@string/app_name"
			>
			<intent-filter>
				<action android:name="android.intent.action.MAIN"/>
				<category android:name="android.intent.category.LAUNCHER"/>
			</intent-filter>
		</activity>

		<activity android:name=".MainActivity"
				  android:label="@string/app_name"
			/>
		<activity android:name=".NewTicketActivity"
				  android:label="@string/activityNewTicketName"
			/>
		<activity android:name=".RequestDetailsActivity"
				  android:label="@string/activityRequestDetails"
			/>

		<service
			android:name=".ImageUploadService"
			android:exported="false" />
	</application>

</manifest>
